     .background_color {
         height: 100vh;
         background-color:#f47c3c;

     }

     .navbar {
         background-color: #c15921;
     }

     .navbar a {
         color: #bb4200;
     }

     .container-fluid {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0px 35px;
     }

     .container-fluid a {
         font-size: 17px;
         margin-left: 10px;
         color: #431903;
         font-weight: none;
     }

     .content {
         width: 1200px;
         height: auto;
         margin: auto;
         color: #652605;
         position: relative;


     }

     .content .par {
         padding-left: 20px;
         padding-bottom: 25px;
         font-family: Arial, Helvetica, sans-serif;
         letter-spacing: 1.2px;
         line-height: 30px;


     }

     .content h1 {
         font-family: 'Times New Roman', Times, serif;
         font-size: 50px;
         padding-left: 20px;
         margin-top: 9%;
         letter-spacing: 2px;


     }

     .content .cn {
         width: 160px;
         height: 40px;
         background: #f47c3c;
         border: 2px solid #b1521f ;
         margin-bottom: 10px;
         margin-left: 20px;
         font-size: 18px;
         border-radius: 10px;
         cursor: pointer;
         transition: .4s ease;

     }

     .content.cn a {
         text-decoration: none;
         color: #431903;
         transition: .3s ease;

     }

     .cn:hover{
         background-color: #f47c3c;

     }

     .content span {
         color: #db7e05;
         font-size: 60px;

     }